.nav-tabs .nav-item {
  cursor: pointer;
}

.custom-nav-link {
  font-size: 20px;
}

/* Style for active tab */
.nav-tabs .nav-link.active {
  background-color: grey;
  color: white; /* To ensure the text is visible on the active tab */
}