/* Adjust the height of the chat sidebar and chat messages */
.chat-messages {
    height: calc(100% - 80px); /* Adjust the value as needed */
  }

<<<<<<< Updated upstream
  .container-fluid{
    background-color: white;
  }
  /* Style for chat messages */
  .message {
    margin-bottom: 10px;
  }
  
  /* Style for text input box */
  .input-group {
    width: 100%;
  }
  
=======
.dropzone {
  border: 2px dashed #007bff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.upload-icon {
  width: 100px;
  margin-bottom: 20px;
}

.file-item {
  margin-bottom: 5px;
  background-color: #f0f0f0;
  padding: 5px;
}

.parent-div {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 999; /* Ensure the overlay is above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.overlay-text{
  font-size: larger;
}

.content.disabled {
  pointer-events: none; /* Disable interactions with content */
  opacity: 0.5; /* Optionally reduce opacity to indicate it's disabled */
}

.upload-class{
  padding-bottom: 10px;
}

i {
  cursor: pointer;
}
>>>>>>> Stashed changes
