/* Adjust the height of the chat sidebar and chat messages */
.chat-messages {
    height: calc(100% - 80px); /* Adjust the value as needed */
  }

  .container-fluid{
    background-color: white;
  }
  /* Style for chat messages */
  .message {
    margin-bottom: 10px;
  }
  
  /* Style for text input box */
  .input-group {
    width: 100%;
  }
  