.me-0 {
  margin: 0 0 0 16px !important;
}

.ti.ti-bell {
  position: relative;
}

.dot {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}


th {
  color: #673ab7 !important;
}

.heading {
   font-size: 1.2em;
   color: #673ab7;
   margin-top: 25px;
   font-weight: 500;
   margin-bottom: 15px;
}

.table{
   margin-bottom: 25px;
}

.info{
   cursor: pointer;
}

.seperation{
  border-width: 5px;
}

.modal-body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
  background-color: white;
}

.highlight-modal {
background-color: #ffffcc;
padding: 10px;
border-radius: 5px;
margin-bottom: 20px;
}

.action-list {
  list-style-type: none;
  padding-left: 0;
}

.action-list li {
  margin-bottom: 10px;
}

.modal-header {
background-color: #e1d8f1; 
border-bottom: 1px solid #ccc;
padding: 15px; 
}

.modal-title {
margin: 0; 
}

.btn-close {
float: right; 
margin-top: -5px; 
margin-right: -10px; 
}

.pm-body {
  font-family: Arial, sans-serif; 
  line-height: 1.6; 
  margin: 0; 
  padding: 20px;
}

ol { list-style-type: decimal; margin-left: 20px; }

.pm-highlight-steps {
  background-color: #ffffcc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  }

  .nav-tabs {
    display: flex;
    justify-content: space-around;
  }

  .nav-item {
    flex: 1;
    text-align: center;
  }

  .nav-link {
    width: 100%;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, border-color 0.3s;
  }

  .nav-link.active {
    background-color: #e0d7f0;
    color: #673ab7;
    border-color: #e0d7f0;
  }

  .nav-link:hover {
    background-color: #724dba;
    color: #fff;
    border-color: #724dba;
  }

  .list-group-item-action {
    cursor: pointer;
  }

  .text-center {
    text-align: center;
  }

  .p-3 {
    padding: 1rem;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  