   <div class="container">
       <h1>Magnet Resonance Imaging (MRI)</h1>
       <span class="round small"></span>
        <span class="round big"></span>
       <hr class="my-4 bg-secondary">

       <h2>Current Status & Actions for Maintenance: Based on Scan Data</h2>
<div *ngIf="sampleData" class="container">
    <div *ngFor="let item of sampleData">
  <p class="heading">Machine Data</p>
        <div class="table-responsive table">
          <table class="table table-bordered table-striped">
            <thead>
              <tr class="text-muted">
                <th>Date</th>
                <th>Unique Scan ID</th>
                <th>Scan Type</th>
                <th>Scan Time</th>
                <th>SNR (dB)</th>
                <th>Drift (Hz)</th>
                <th>Drift PPM (ppm)</th>
                <th>Grad Perf (G/cm/ms)</th>
                <th>Coil Type</th>
                <th>Error Temp (°C)</th>
                <th>Sys Temp (°C)</th>
                <th>Cryo Boiloff (liters/hour)</th>
                <th>Slice Thickness</th>
                <th>Reason</th>
                <th>Maintenance Code</th>
                <th>Error Code</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{item.machine_data.Date}}</td>
                <td>{{item.machine_data.unique_scanid}}</td>
                <td>{{item.machine_data.scan_type}}</td>
                <td>{{item.machine_data.scan_time}}</td>
                <td>{{item.machine_data.snr}}</td>
                <td>{{item.machine_data.drift_hz}}</td>
                <td>{{item.machine_data.drift_ppm}}</td>
                <td>{{item.machine_data.grad_perf}}</td>
                <td>{{item.machine_data.coil_type}}</td>
                <td>{{item.machine_data.error_temp}}</td>
                <td>{{item.machine_data.sys_temp}}</td>
                <td>{{item.machine_data.cryo_boiloff}}</td>
                <td>{{item.machine_data.slice_thickness}}</td>
                <td>{{item.machine_data.reason}}</td>
                <td>{{item.machine_data.maintenance_code}}</td>
                <td>{{item.machine_data.error_code}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr class="my-4 bg-secondary">
  <p class="heading">Sequential Scan Data</p>
        <div class="table-responsive table">
          <table class="table table-bordered table-striped">
            <thead>
              <tr class="text-muted">
                <th>Scan Sequence</th>
                <th>Repetition Time</th>
                <th>Echo Time</th>
                <th>FoV Freq</th>
                <th>FoV Phase</th>
                <th>Slice Gap</th>
                <th>Matrix Phase</th>
                <th>Matrix Freq</th>
                <th>Phase Direction</th>
                <th>NOE</th>
                <th>Scan Direction</th>
               
              </tr>
            </thead>
            <tbody>
              @for (scan of item.scan_data; track scan) {
                <tr>
                  <td>{{scan.scan_sequence}}</td>
                  <td>{{scan.repetition_time}}</td>
                  <td>{{scan.echo_time}}</td>
                  <td>{{scan.field_of_view_freq}}</td>
                  <td>{{scan.field_of_view_phase}}</td>
                  <td>{{scan.slice_gap}}</td>
                  <td>{{scan.matrix_phase}}</td>
                  <td>{{scan.matrix_freq}}</td>
                  <td>{{scan.phase_direction}}</td>
                  <td>{{scan.no_of_excitation}}</td>
                  <td>{{scan.scan_direction}}</td>
                </tr>
              }
              
            </tbody>
          </table>
        </div>
        <p class="heading">Current Status: <i *ngIf="item.machine_data.error_code !== 'No Error'" class="text-blue ti ti-info-circle info" (click)="openLg(content,item)"></i></p>
        <span style="font-size: 1.2em;"><div [innerHTML]="item.llm_output">.</div></span>
        <hr class="my-4 seperation bg-secondary">
      </div>
    </div>   
    
    <div *ngIf="!sampleData || sampleData.length == 0" class="spinner-container" role="status">
      <div class="spinner-border" role="status"></div>
    </div>  
   </div>
   <!-- Modal -->
   <ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title"><strong>Error {{selectedErrrorDesc.errorType}} - {{selectedErrrorDesc.title}}</strong></h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <!-- <div [innerHTML]="selectedErrrorDesc.tableHtml">.</div> -->
    <div>
      <p class="heading">Machine Data</p>
        <div class="table-responsive table">
          <table class="table table-bordered table-striped">
            <thead>
              <tr class="text-muted">
                <th>Date</th>
                <th>Unique Scan ID</th>
                <th>Scan Type</th>
                <th>Scan Time</th>
                <th>SNR (dB)</th>
                <th>Drift (Hz)</th>
                <th>Drift PPM (ppm)</th>
                <th>Grad Perf (G/cm/ms)</th>
                <th>Coil Type</th>
                <th>Error Temp (°C)</th>
                <th>Sys Temp (°C)</th>
                <th>Cryo Boiloff (liters/hour)</th>
                <th>Slice Thickness</th>
                <th>Reason</th>
                <th>Maintenance Code</th>
                <th>Error Code</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{tableData.machine_data.Date}}</td>
                <td>{{tableData.machine_data.unique_scanid}}</td>
                <td>{{tableData.machine_data.scan_type}}</td>
                <td>{{tableData.machine_data.scan_time}}</td>
                <td>{{tableData.machine_data.snr}}</td>
                <td>{{tableData.machine_data.drift_hz}}</td>
                <td>{{tableData.machine_data.drift_ppm}}</td>
                <td>{{tableData.machine_data.grad_perf}}</td>
                <td>{{tableData.machine_data.coil_type}}</td>
                <td>{{tableData.machine_data.error_temp}}</td>
                <td>{{tableData.machine_data.sys_temp}}</td>
                <td>{{tableData.machine_data.cryo_boiloff}}</td>
                <td>{{tableData.machine_data.slice_thickness}}</td>
                <td>{{tableData.machine_data.reason}}</td>
                <td>{{tableData.machine_data.maintenance_code}}</td>
                <td>{{tableData.machine_data.error_code}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr class="my-4 bg-secondary">
        <p class="heading">Sequential Scan Data</p>
        <div class="table-responsive table">
          <table class="table table-bordered table-striped">
            <thead>
              <tr class="text-muted">
                <th>Scan Sequence</th>
                <th>Repetition Time</th>
                <th>Echo Time</th>
                <th>FoV Freq</th>
                <th>FoV Phase</th>
                <th>Slice Gap</th>
                <th>Matrix Phase</th>
                <th>Matrix Freq</th>
                <th>Phase Direction</th>
                <th>NOE</th>
                <th>Scan Direction</th>
               
              </tr>
            </thead>
            <tbody>
              @for (scan of tableData.scan_data; track scan) {
                <tr>
                  <td>{{scan.scan_sequence}}</td>
                  <td>{{scan.repetition_time}}</td>
                  <td>{{scan.echo_time}}</td>
                  <td>{{scan.field_of_view_freq}}</td>
                  <td>{{scan.field_of_view_phase}}</td>
                  <td>{{scan.slice_gap}}</td>
                  <td>{{scan.matrix_phase}}</td>
                  <td>{{scan.matrix_freq}}</td>
                  <td>{{scan.phase_direction}}</td>
                  <td>{{scan.no_of_excitation}}</td>
                  <td>{{scan.scan_direction}}</td>
                </tr>
              }
              
            </tbody>
          </table>
        </div>
        <hr class="my-4 bg-secondary">
    </div>
    <app-dynamic-content [content]="selectedErrrorDesc.description"></app-dynamic-content>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>