   <div class="container">
       <h1>Magnet Resonance Imaging (MRI)</h1>
       <span class="round small"></span>
        <span class="round big"></span>
       <hr class="my-4 bg-secondary">

       <h2>Current Status & Actions for Maintenance: Based on Scan Data</h2>
<div *ngIf="sampleData" class="container">
    <div *ngFor="let item of sampleData">
  <p class="heading">Current scan details with MRI performance data</p>
        <div class="table-responsive table">
          <table class="table table-bordered table-striped">
            <thead>
              <tr class="text-muted">
                <th>Date</th>
                <th>Scan Type</th>
                <th>Scan Time</th>
                <th>SNR (dB)</th>
                <th>Drift (Hz)</th>
                <th>Drift PPM (ppm)</th>
                <th>Grad Perf (G/cm/ms)</th>
                <th>Coil Type</th>
                <th>Error Temp (°C)</th>
                <th>Sys Temp (°C)</th>
                <th>Cryo Boiloff (liters/hour)</th>
                <th>RF Power (%)</th>
                <th>Grad Temp (°C)</th>
                <th>Grad Current (A)</th>
                <th>X Axis Pos (mm)</th>
                <th>Y Axis Pos (mm)</th>
                <th>Z Axis Pos (mm)</th>
                <th>Error Code</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{item.current_data.Date}}</td>
                <td>{{item.current_data.scan_type}}</td>
                <td>{{item.current_data.scan_time}}</td>
                <td>{{item.current_data.snr}}</td>
                <td>{{item.current_data.drift_hz}}</td>
                <td>{{item.current_data.drift_ppm}}</td>
                <td>{{item.current_data.grad_perf}}</td>
                <td>{{item.current_data.coil_type}}</td>
                <td>{{item.current_data.error_temp}}</td>
                <td>{{item.current_data.sys_temp}}</td>
                <td>{{item.current_data.cyro_boiloff}}</td>
                <td>{{item.current_data.rf_power}}</td>
                <td>{{item.current_data.grad_temp}}</td>
                <td>{{item.current_data.grad_current}}</td>
                <td>{{item.current_data.x_axis_pos}}</td>
                <td>{{item.current_data.y_axis_pos}}</td>
                <td>{{item.current_data.z_axis_pos}}</td>
                <td>{{item.current_data.error_code}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="heading">Current Status: <i *ngIf="item.current_data.error_code !== 'No Error'" class="text-blue ti ti-info-circle info" (click)="openLg(content,item)"></i></p>
        <span style="font-size: 1.2em;"><div [innerHTML]="item.llm_output">.</div></span>
        <hr class="my-4 seperation bg-secondary">
      </div>
    </div>   
    
    <div *ngIf="!sampleData || sampleData.length == 0" class="spinner-container" role="status">
      <div class="spinner-border" role="status"></div>
    </div>  
   </div>
   <!-- Modal -->
   <ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title"><strong>Error {{selectedErrrorDesc.errorType}} - {{selectedErrrorDesc.title}}</strong></h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <div [innerHTML]="selectedErrrorDesc.tableHtml">.</div>
    <app-dynamic-content [content]="selectedErrrorDesc.description"></app-dynamic-content>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>