
<div class="row">
  <div class="d-flex justify-content-center align-items-center">
    <div class="card bg-info dashnum-card text-white overflow-hidden flex-fill" style="max-height: 80px;">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <form [formGroup]="sortForm">
          <div class="row mb-3 align-items-center justify-content-end">
            <div class="col-auto">
              <select class="form-select custom-select custom-select-sm" formControlName="month">
                <option *ngFor="let month of monthsData; let i = index" [value]="('0' + (i + 1)).slice(-2)">{{month}}</option>
              </select>
            </div>
            <div class="col-auto">
              <select (change)= "displayMonths($event)" class="form-select custom-select custom-select-sm" formControlName="year">
                <option *ngFor="let year of yearData" [value]="year">{{year}}</option>
              </select>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary btn-sm" (click)="sortData()">Display</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  
    <div class="row">
      <div class="col-xl-4 col-md-6 d-flex">
          <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden flex-fill">
              <span class="round small"></span>
              <span class="round big"></span>
              <div class="card-body d-flex flex-column justify-content-between">
                  <div class="row">
                      <div class="col">
                      </div>
                      <div class="col-auto">
                      </div>
                  </div>
                  <span class="text-white d-block fs-1 fw-bold my-2">{{totalScanCount}} <i class="ti ti-arrow-up-right-circle opacity-50"></i></span>
                  <p class="mb-0">Total Number of Scans Performed</p>
              </div>
          </div>
      </div>
    <div class="col-xl-4 col-md-6 d-flex">
    <div class="card bg-primary-dark dashnum-card text-white overflow-hidden flex-fill">
        <span class="round small"></span>
        <span class="round big"></span>
        <div class="card-body">
            <div class="row mb-3 align-items-center">
                <div class="col-auto ms-auto">
                    <select class="form-select form-select-sm" (change)="handleScanChange($event)" [(ngModel)]="selectedScanType">
                        <option *ngFor="let type of scanType" [value]="type">{{type}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="d-flex align-items-center">
                        <div class="value-text">
                            <span class="text-white fs-2 fw-bold mr-2 scan-time">{{avgScanCount}}</span>
                            <p class="mb-0">Scans Performed</p>

                        </div>
                        <div class="info-text">
                          <span class="text-white fs-2 fw-bold mr-2 scan-time">{{avgScanTime}} Min.</span>
                            <p class="mb-0">Avg. Scan Time</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
      <div class="col-xl-4 col-md-6 d-flex">
        <div class="card bg-warning dashnum-card text-white overflow-hidden flex-fill">
          <span class="round small"></span>
          <span class="round big"></span>
          <div class="card-body d-flex flex-column justify-content-between">
              <div class="row">
                  <div class="col">
                  </div>
                  <div class="col-auto">
                  </div>
              </div>
              <span class="text-white d-block fs-1 fw-bold my-2">{{errorCount}} <i class="ti ti-arrow-up-right-circle opacity-50"></i></span>
              <p class="mb-0">Number of Errors Found</p>
          </div>
      </div>
      </div>
  </div>
  <div class="col-xl-6 col-md-12">
    <div class="card">
      <div class="card-body">
        <div  id="growthChart">
          <apx-chart *ngIf="isBarReady"
          [series]="barChart.series"
          [chart]="barChart.chart"
          [dataLabels]="barChart.dataLabels"
          [plotOptions]="barChart.plotOptions"
          [xaxis]="barChart.xaxis"
          [stroke]="barChart.stroke"
          [fill]="barChart.fill"
          [yaxis]="barChart.yaxis"
          [title]="barChart.title"
          [tooltip]="barChart.tooltip"
          [legend]="barChart.legend"
        ></apx-chart>
        <div *ngIf="!isBarReady" class="spinner-container" role="status">
          <div class="spinner-border" role="status"></div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-md-12">
    <div class="card">
      <div class="card-body">
        <div  id="growthChart">
          <apx-chart *ngIf="isPieReady"
          [series]="pieChart.series"
          [chart]="pieChart.chart"
          [labels]="pieChart.labels"
          [responsive]="pieChart.responsive"
          [title]="pieChart.title"
        ></apx-chart>
        <div *ngIf="!isPieReady" class="spinner-container" role="status">
          <div class="spinner-border" role="status"></div>
        </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-xl-9 col-md-12">
    <div class="card">
      <div class="card-body">
        <div  id="growthChart">
          <apx-chart *ngIf="isLineReady"
          [series]="lineChart.series"
          [chart]="lineChart.chart"
          [xaxis]="lineChart.xaxis"
          [dataLabels]="lineChart.dataLabels"
          [grid]="lineChart.grid"
          [stroke]="lineChart.stroke"
          [title]="lineChart.title"
        ></apx-chart>
        <div *ngIf="!isLineReady" class="spinner-container" role="status">
          <div class="spinner-border" role="status"></div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3 align-items-center">
          <div class="col">
            <h4>Top 5 Scans with Average Scan Time</h4>
          </div>
          <div class="col-auto"> </div>
        </div>
        <ul *ngIf="scanListGroup"class="list-group list-group-flush">
          @for (list of scanListGroup; track list) {
            <li class="list-group-item px-0">
              <div class="row align-items-start">
                <div class="col">
                  <h5 class="mb-0">{{ list.SCAN_TYPE }}</h5>
                  <small class="text-success">{{ list.COUNT }} Scans</small>
                </div>
                <div class="col-auto">
                  <h4 class="mb-0">
                    {{ list.AVG_SCAN_TIME
                    }} Min.
                  </h4>
                </div>
              </div>
            </li>
          }
        </ul>
        <div *ngIf="!scanListGroup" class="spinner-container" role="status">
          <div class="spinner-border" role="status"></div>
        </div>
      </div>
    </div>
    </div>
    <div class="col-xl-12 col-md-12">
      <div class="card">
        <div class="card-body">
          <div id="columnChart">
            <apx-chart *ngIf="isColChartReady"
              [series]="colChartOptions.series"
              [chart]="colChartOptions.chart"
              [dataLabels]="colChartOptions.dataLabels"
              [plotOptions]="colChartOptions.plotOptions"
              [yaxis]="colChartOptions.yaxis"
              [xaxis]="colChartOptions.xaxis"
              [fill]="colChartOptions.fill"
              [title]="colChartOptions.title"
            ></apx-chart>
            <div *ngIf="!isColChartReady" class="spinner-container" role="status">
              <div class="spinner-border" role="status"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-xl-12 col-md-12">
      <div class="card">
        <div class="card-body">
          <div  id="growthChart">
            <apx-chart *ngIf="isPrevPieReady"
            [series]="prevPieChart.series"
            [chart]="prevPieChart.chart"
            [labels]="prevPieChart.labels"
            [responsive]="prevPieChart.responsive"
            [title]="prevPieChart.title"
          ></apx-chart>
          <div *ngIf="!isPrevPieReady" class="spinner-container" role="status">
            <div class="spinner-border" role="status"></div>
          </div>
          </div>
        </div>
      </div>
    </div> -->


    <div class="col-xl-8 col-md-12">
      <div class="card">
        <div class="card-body">
          <div  id="growthChart">
            <apx-chart *ngIf="isMinorPrevPieReady"
            [series]="prevMinorPieChart.series"
            [chart]="prevMinorPieChart.chart"
            [labels]="prevMinorPieChart.labels"
            [responsive]="prevMinorPieChart.responsive"
            [title]="prevMinorPieChart.title"
          ></apx-chart>
          <div *ngIf="!isMinorPrevPieReady" class="spinner-container" role="status">
            <div class="spinner-border" role="status"></div>
          </div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="col-xl-8 col-md-12">
      <div class="card">
        <div class="card-body">
          <div  id="growthChart">
            <apx-chart *ngIf="isPrevPieReady"
            [series]="prevPieChart.series"
            [chart]="prevPieChart.chart"
            [labels]="prevPieChart.labels"
            [responsive]="prevPieChart.responsive"
            [title]="prevPieChart.title"
          ></apx-chart>
          <div *ngIf="!isPrevPieReady" class="spinner-container" role="status">
            <div class="spinner-border" role="status"></div>
          </div>
          </div>
        </div>
      </div>
    </div>

   
  </div>