<div class="container">
    <h2>User Account Activity</h2>
    <hr class="my-4 seperation bg-secondary">

<div class="container">
     <div class="table-responsive table" style="height: 400px; overflow-y: auto;">
       <table class="table table-bordered table-striped">
         <thead>
           <tr class="text-muted">
                <th class="center-align">Sl. No</th>
                <th class="center-align">User Name</th>
                <th class="center-align">Activity</th>
                <th class="center-align">Date</th>
                <th class="center-align">Time</th>
           </tr>
         </thead>
         <tbody>
            <tr>
                <td class="center-align">1</td>
                <td class="center-align">mriadmin</td>
                <td class="center-align">User logged in</td>
                <td class="center-align">14/04/2024</td>
                <td class="center-align">10:00 AM</td>
              </tr>
              <tr>
                <td class="center-align">2</td>
                <td class="center-align">mriuser</td>
                <td class="center-align">User logged Off</td>
                <td class="center-align">14/04/2024</td>
                <td class="center-align">10:50 AM</td>
              </tr>
         </tbody>
       </table>
     </div>
     <hr class="my-4 seperation bg-secondary">
 </div>      
</div>