.container {
    width: 100%;
    margin: auto;
    overflow: auto;
    background-color: white;
 }
 
 h2 {
    font-size: 2em;
    text-align: center;
    padding: 20px;
    color: #673ab7;
 }

 th {
   color: #673ab7 !important;
 }
 
 .center-align {
   text-align: center;
 }
 
 h4 {
    color: #333;
    margin-bottom: 15px;
 }

 p {
    font-size: 1.2em;
    color: #555;
    margin-top: 25px;
    font-weight: 500;
    margin-bottom: 15px;
 }

 .table{
    margin-bottom: 25px;
 }

 .seperation{
   border-width: 5px;
 }