
<div class="row">
    <div class="col-xl-12 col-md-12">
     <h3>Predective Maintenance</h3>
     <hr class="my-4 seperation bg-secondary">
      <div class="card">
        <div class="card-body">
          <div id="growthChart" >
            <apx-chart *ngIf="isScatterReady"
            [series]="scatterChart.series"
            [chart]="scatterChart.chart"
            [xaxis]="scatterChart.xaxis"
            [yaxis]="scatterChart.yaxis"
          [tooltip]="scatterChart.tooltip"
          ></apx-chart>
          <div *ngIf="!isScatterReady" class="spinner-container" role="status">
          <div class="spinner-border" role="status"></div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>